<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Museu da Arte</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.15.3/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
<header><img th:src="@{./img/logo.jpg}" alt=""></header>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Principal</a>
                <a class="nav-link active" th:href="@{/artigos}">Sobre os Artigos</a>
                <a class="nav-link active" th:href="@{/funcionario/add}">Registro de Visitantes</a>

            </div>
        </div>
    </div>
</nav>


<div class="container
        container-header-funcionario container-form">
    <h3>Visitantes</h3>
</div>

<!--conteudo-->

<div class="container container-btn-novo">

    <a th:href="@{/funcionario/add}"
       class="btn btn-outline-dark">  <i class="fa fa-file"></i> Novo
    </a>


</div>


<div class="container container-funcionario table-responsive table-responsive">



    <table class="table table-hover table-striped">
        <thead>
        <tr class="table-dark">
            <th>Código</th>
            <th>Nome</th>
            <th colspan="3">E-mail</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="funcionario : ${funcionarios}">
            <td th:text="${funcionario.id}"></td>
            <td th:text="${funcionario.nome}"></td>
            <td th:text="${funcionario.email}"></td>

            <td class="td-controle">
                <a th:href="@{'/funcionario/edit/'+${funcionario.id}}"
                   class="btn btn-outline-secondary">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
            <td class="td-controle">
                <a th:onclick="|showModalDeletar('funcionario', ${funcionario.id})|"
                   class="btn btn-outline-danger">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>

        </tbody>

    </table>

</div>

<!--MODAL DELETAR-->

<div class="modal" tabindex="-1" id="modalDeletar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-color">
                <h5 class="modal-title">Opa!</h5>
                <button type="button" class="btn-close btn-outline-light" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Quer tirar o cara mesmo?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger"
                        th:onclick="deletar()">Deletar
                </button>
            </div>
        </div>
    </div>
</div>

    <div class="main">
    <center>
        <img src='../img/bozo3.jpeg'> </img>
    </center>
    </div>
    </form>

    <br><br><br><br>

    <footer class ="footer-color">
    <ul class= "footer-ul" >
        <li>Museu da Arte</li>
        <li >Contribuintes: Gabriel N;João F;Matheus S;Yan C.</li>
        <li>Entre em contato: gabriel_neves@estudante.sc.senai.br</li>
    </ul>
    </footer>

    <script th:src="@{/js/jquery-3.6.0.min.js/}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>

    </div>
    </body>
    </html>